body {
    background-image: url("back2.jpg");
    padding-left: 30%;
    margin-top: 10%;

}

.gallery-item {
    display: inline-block;
    margin: 5px;
    color: white

}

.image {
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    object-fit: contain;
    color:white;

}
h2{
    color:white;

}